# Credenciales de admin (login web)
ADMIN_USER=admin
ADMIN_PASSWORD=password

# Base de datos Vercel Postgres (se autorellena al vincular Postgres en Vercel)
# POSTGRES_URL=...

# Vercel Blob (para subir fotos). Se autorellena al vincular Blob en Vercel
# BLOB_READ_WRITE_TOKEN=...

# Hook de Twitch
TWITCH_CHANNEL=darkmius
TWITCH_USERNAME=votosmarta_bot
TWITCH_OAUTH_TOKEN=oauth:xxxxxxxxxxxxxxxxxxxx
# Permite que el hook escriba votos en la BD (usa la misma POSTGRES_URL)
